# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\New folder\DCT1213_3121410082_Nguyen-Thanh-Binh_TH1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
